<p-tabMenu [model]="items" />

<div class="quienes-somos">
    <!-- Introducción -->
    <!-- Misión y Valores -->
    <section class="mision-valores">
        <!-- Misión -->
        <div class="mision">
            <h3>Misión</h3>
            <div class="mision-content">
                <i class="pi pi-heart" style="font-size: 4rem;"></i>
                <p>
                    Nuestra misión es ofrecer a nuestros clientes una experiencia única con el mejor café y té,
                    utilizando ingredientes de la más alta calidad, y promoviendo una cultura de excelencia, calidez
                    y
                    un ambiente acogedor en cada uno de nuestros establecimientos.
                </p>
            </div>
        </div>


        <!-- Visión -->
        <div class="vision">
            <h3>Visión</h3>
            <div class="vision-content">
                <i class="pi pi-eye" style="font-size: 4rem;"></i>
                <p>
                    Queremos ser la cadena de cafeterías líder en la región, brindando productos innovadores y
                    sostenibles, creando un impacto positivo en la comunidad y promoviendo el bienestar de nuestros
                    clientes, colaboradores y el medio ambiente. Buscamos ser reconocidos por nuestra
                    responsabilidad
                    social y por generar un cambio positivo a través de la calidad y el compromiso.
                </p>
            </div>
        </div>
    </section>

    <section class="galeria">
        <div class="image-gallery">
            <img src="https://cdn.pixabay.com/photo/2017/02/20/08/50/cafe-2081857_640.jpg" alt="Café 1" />
            <img src="https://cdn.pixabay.com/photo/2015/08/25/06/36/cake-906263_640.jpg" alt="Café 2" />
            <img src="https://cdn.pixabay.com/photo/2016/11/29/12/54/cafe-1869656_640.jpg" alt="Café 3" />
        </div>
    </section>

    <!-- Sección de Ubicación -->
    <section class="ubicacion">
        <h2>Visítanos en esta direccion</h2>
        <div class="ubicacion-contenido">
            <div class="direccion">

                <div>
                    <h3>Dirección</h3>
                    <p><i class="pi pi-map-marker" style="font-size: 2rem; color: #00796b;"></i>Calle Ficticia 123,
                        Centro, Ciudad, País</p>
                    <section class="redes-sociales">
                        <h2>Conéctanos en Redes Sociales</h2>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/tu-cafeteria" target="_blank">
                                <i class="pi pi-facebook" style="font-size: 2rem;"></i>
                            </a>
                            <a href="https://www.instagram.com/tu-cafeteria" target="_blank">
                                <i class="pi pi-instagram" style="font-size: 2rem;"></i>
                            </a>
                            <a href="https://twitter.com/tu-cafeteria" target="_blank">
                                <i class="pi pi-twitter" style="font-size: 2rem;"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/tu-cafeteria" target="_blank">
                                <i class="pi pi-linkedin" style="font-size: 2rem;"></i>
                            </a>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Mapa -->
            <div class="mapa">
                <h3 style="color: white;">Ubicación en el Mapa</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2799221126!2d-74.2598674!3d40.6976701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDAzJzA2LjgiTiA3NMKwMTInNTguOCJYd0nquQ!5e0!3m2!1ses!2sus!4v1675930431294!5m2!1ses!2sus"
                    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

</div>

<!-- footer -->

<p-footer class="footer">
    <div class="footer-content">
        <div class="footer-text">
            <p>&copy; 2024 Coffee and Tea. All rights reserved.</p>
        </div>
        <div class="footer-social">
            <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                <i class="pi pi-facebook"></i>
            </a>
            <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                <i class="pi pi-twitter"></i>
            </a>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                <i class="pi pi-instagram"></i>
            </a>
        </div>
    </div>
</p-footer>